body {

}

header{
  height: 70px;
  width: 100%;
  background-color: grey;
}

header img {
  margin-left:100px;
}
nav {
  position: absolute;
  top: 0px;
  left: 300px;
  width: 760px;
}

li {
  position: absolute;
}

li:first-child {
  top: 30px;
  left: 72px;
  width: 100px;
  text-align: center;
}
li:nth-child(2) {
  top: 30px;
  left: 244px;
  width: 100px;
  text-align: center;
}
li:nth-child(3) {
  top: 30px;
  left: 416px;
  width: 100px;
  text-align: center;
}
li:nth-child(4) {
  top: 30px;
  left: 588px;
  width: 100px;
  text-align: center;
}
main {
  padding-top: 30px;
  padding-bottom:30px;
  padding-left: 100px;
  background-color: rgb(235, 235, 235);
}

main section:first-child{
  margin-bottom: 30px;
}
main section:nth-child(2) {
  margin-bottom: 30px;
}

main section:nth-child(2) img:first-child {
  margin-right: 30px;
}
main section:nth-child(2) img:nth-child(2) {
  margin-right: 30px;
}

#sectionheading {
  position: relative;
}

#sectionheading section {
  font-family: sans-serif; 
  position: absolute;
  top: 0px;
  left: 510px;
  width: 450px;
  height: 400px;
}

h3 {
  font-size: 24px;
}

#sectionheading section p {
  padding: 10px;
  overflow: scroll;
  height:334px;
}
footer {
  height: 70px;
  width: 100%;
  background-color: grey;
  padding-left: 100px;
}